body{
    font-family: sans-serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background: #7F72BC;
}
.cabeçalho{
    display: flex;
    font-size: 60px;
    margin-left: 600px;
    margin-top: 10px;
}
#logo{
    width: 245px;
    position: relative;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 70px;
}
.item{
    color: rgb(237, 242, 237);
    position: relative;
    left: 80px;
    bottom: 20px;
    margin-left: 10px;
    list-style: none;
}

.conteudoprincipal{
    background-image: linear-gradient(#442FA4, #7F72BC);
    color:rgb(240, 245, 245);
}
.imagem-alura{
    width: 250px;
    display: inline;
    position: relative;
    margin-left: 1020px;
    margin-top: 5px;
    margin-bottom: 100px;
}
.conteudo-grupo{
    padding-left: 300px;
    padding-top: 50px;
    font-size: 30px;
}
.conteudo-frase{
    position: absolute;
    margin-left: 80px;
    margin-right: 520px;
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
    color: rgb(26, 27, 25);
}

.cursistas-teste{
    background: red;

}


